.id{
    width: 5%;
}
.name{
    width: 10%;
}
.email{width: 20%;}
.password{
    width: 10%;
}
.role{
    width: 10%;
}
.avata{
    width: 35%;
}
.action{
    width: 10%;
}
.pagination{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}
