.id{
    width: 5%;
}
.name{
    width: 10%;
}
.email{width: 20%;}
.password{
    width: 10%;
}
.role{
    width: 10%;
}
.avata{
    width: 30%;
}
.action{
    width: 15%;
}
.pagination{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}
.css-zw3mfo-MuiModal-root-MuiDialog-root {
    opacity: 0.3;
}